html {
    background-color: black;
    min-width: 480px;
}

nav {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    height: 10vh
}

.navlinkcontainer {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

#left {
    flex-shrink: 1;
}

#right {
    flex-shrink: 3;
}

a.navlink {
    box-sizing: border-box;
    color: rgb(255, 78, 202);
    background-image: linear-gradient(rgba(0, 132, 255,.3), rgba(0,132,255,.6));
    padding: .5vw;
    margin: 3px;
    border-radius: 13px;
    height: 100%;
    display: flex;
    align-items: center;
}

a.navlink:hover {
    transform: translateY(6px);
    transition: all 0.3s ease-in-out;
}

.logo {
    margin-top: 8vh;
    margin-bottom: 8vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-shrink: 1;

}

#logo {
    width: 50%;
    max-width: 700px;
    flex-shrink: 1;
    filter: none;
}

.containter {
    display: flex;
    box-sizing: border-box;
}

#biocont1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.bio {
    color:rgb(255, 78, 202);
    font-family: brothers;
    text-align: left;
    margin: 5%;
    font-size: 18px;
    height: 50vh;
    overflow-y: scroll;
}

.bio::-webkit-scrollbar {
    display: none;
}

.h1 {
    display:flex;
    justify-content: center;
    margin-top: 15px;
    color:rgb(255, 78, 202);
    font-family: brothers;
    text-align: center;
    font-size: 30px;
}

#picsgrid {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    flex-shrink: 1;
    margin-bottom: 30px;
}

#groupshot {
    box-sizing: border-box;
    display: none;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    margin-bottom: 30px;
}

img {
    box-sizing: border-box;
    height: 100%;
    margin: 5px;
    filter: grayscale(100%);
}

img:hover {
    filter: none;
}

.dude:hover {
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
}

.tooltip {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    flex-shrink: 1;
}

.tooltiptext {
    z-index: 2;
    position: absolute;
    width: 80%;
    top: 80%;
    visibility: hidden;
    font-family: brothers, sans-serif;
    text-align: center;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    color: white;
    background: black;
    text-decoration: none;
    font-size: large;
    padding: .5vw;
    margin: 3px;
    border-radius: 13px;
    transition: all 0.3s ease-in-out;
}

.spotify {
    display: flex;
    width: 100%;
    justify-content: center;
}

.youtubevid {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


@media only screen and (max-width: 600px) {

    html {
        width: 100%;
    }

    #logo {
        width: 75%;
    }

    #picsgrid {
        display: none;
    }

    #groupshot {
        display: flex;
        width: 100%;
        filter: none;
    }

    a.navlink {
        font-size: large;

    }

    img {
        width: 100%;
        filter: none;
    }

    .tooltip {
        width: 90%;
        height: auto;
    }

    .dude {
        width: 100%;
    }
}
